body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

H1 {
  color: rgb(255, 255, 255);
  text-align: center;
  height: 7%;
  margin: 0%;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

header{
  background-color: rgb(3, 3, 109);
  display: block;
  left: 0;
  position: sticky;
  right: 0;
  top: 0;
  padding: 1%;
}

.regeldiv {
  margin-top: 40px;
  margin-left: 5%;
  margin-right: 5%;
}

.blokregels {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 20px;
}


.sidebar {
  position: sticky;
  top: 0;
  left: 0; /* Toegevoegd om de sidebar aan de linkerkant te positioneren */
  height: 100vh;
  width: 200px;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
}

.content {
  margin-left: 75%;
  padding: 20px;
}

/* Optionele stijlen voor de links in de sidebar */
.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.sidebar ul li a:hover {
  color: #000;
}